@media (min-width: 501px) and (max-width: 768px) {
  // Tablets
  #logo-banner-content {
    width: 50%;
    margin: auto;

    p {
      font-size: .6em;
    }
  }

  #sales-left,
  #sales-right,
  #rentals-left,
  #rentals-right,
  #service-left,
  #service-right  {
    height: 50vh !important;
  }

  #sales-left-content,
  #rentals-right-content {
    h1 {
      font-size: 3em !important;
    }
  }

#rentals-left-content {
  h4, h5 {
    font-size: 1em;
  }
}

  #service-left-content {
    h1 {
      font-size: 2em !important;
    }
    h3 {
      font-size: 1.5em !important;
    }
  }

  #service-right-content {
    h1 {
      font-size: 2em !important;
    }
    h3 {
      font-size: 1.25em !important;
    }
  }

  // ==============================================
  // Landscape Mobile
  @media (max-height: 580px) {
    #logo-footer {
      margin-left: auto;
      margin-right: auto;
    }

    #slogan-banner h1 {
      font-size: 1.25em;
    }

    #sales-left,
    #sales-right,
    #rentals-left,
    #rentals-right,
    #service-left,
    #service-right {
      height: 130vh !important;
    }
    #sales-left-content,
    #service-left-content {
      width: 90%;
      h1 {
        font-size: 2.5em;
      }
    }

    #sales-right-content,
    #rentals-left-content,
    #service-right-content {
      h1 {
        font-size: 2em !important;
      }
      h5, h3, h4 {
        font-size: 1em;
      }
    }

    #about-ebikes {
      height: 100vh !important;
    }
  }
}


// ==============================================
// Portrait Mobile
@media (min-width: 0px) and (max-width: 500px) {
  #navbar {
    a {
      padding: 0 !important;
    }
  }

  #logo-footer {
    margin-left: auto;
    margin-right: auto;
  }

  #slogan-banner h1 {
    font-size: 1.25em;
  }

#sales-left,
#sales-right,
#rentals-left,
#rentals-right,
#service-left,
#service-right {
  height: 80vh !important;
}

  #sales-left-content,
  #rentals-right-content,
  #service-left-content {
    h1 {
      font-size: 2.5em;
    }
    h3 {
      font-size: 1.25em;
    }
  }

  #sales-right-content,
  #rentals-left-content,
  #service-right-content {
    h1 {
      font-size: 2em !important;
    }
    h5, h3, h4 {
      font-size: 1em;
    }
  }

  #about-ebikes {
    height: 70vh !important;
    #about-ebikes-content {
      margin-left: 1.5rem !important;
      h1 {
        font-size: 1.75em;
      }
    }
  }
}
