@import 'utils';
@import 'mobile';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

a, li {
  color: #212529;
  text-decoration: none !important;
}

// ==============================================
// NAVBAR


// CONTENT
#content {
  height: 100vh;
}

// FOOTER
// #logo-footer {
//   height: 100%;
// }